html, body {
    height: 100%;
}

body {
    margin: 0px 36px;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    height: 66%;
    width: 100%;
    align-items: center;
    border: 1px solid black;
}
nav {
    margin-top: 72px;
    border-radius: 2px;
    border: 1px solid black;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 10px 36px;
    list-style: none;
    border-left: 1px solid black;
}

nav ul li:first-child {
    border-left: none;
}

h1 {
    margin-top: 42px;
}

h2 {
    text-align: center;
    margin: 0;
}

.features {
    display: flex;
    height: 30%;
    width: 100%;
    border: 1px solid black;
}

.feature-box {
    flex: 1;
    border: 1px solid black;
}

.gradient {
    background-image: linear-gradient(
        to bottom,
        #828282,
        #828282 50%,
        #5E5E5E 50%,
        #737373
        );
}