html, body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.top {
    display: flex;
    margin: 2px;
    height: 115px;
}

.display {
    display: flex;
    border: 1px solid black;
    width: 375px;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 72px;
}

.buttons {
    display: flex;
    flex-grow: 3;
    justify-content: space-between;
    flex-direction: column;
}

.button-row {
    display: flex;
    flex-grow: 1;
}

button {
    flex-grow: 1;
    margin: 2px;
    border-radius: 4px;
    font-size: 24px;
}

.operator, #decimal, #equals, #clear {
    background-color: lightgrey;
}
