html, body {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 324px;
    height: 324px;
}

button {
    margin-bottom: 8px;
}

.grid-row {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: row;
}

.box {
    flex-grow: 1;
    border: 1px solid gray;
}

.black {
    background-color: black;
}

.gradient {
    background-color: black;
}